/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .error
 {
   color: white;
   background-color: red;
 }

 .container {
     flexGrow: 1;
     justifyContent: 'center';
     alignItems: 'center';
 }
 .inputBox{
    width: 300;
    height: 50;
    backgroundColor: '#dcdcdc';
    borderRadius: 25;
    paddingHorizontal:16;
    fontSize:15;
    marginVertical: 10;
    borderColor:'#00ffff';
  }
  button{
    width: 160;
    backgroundColor: '#6495ed';
    borderRadius: 25;
    color: '#ffffff';
    marginVertical: 30;
    paddingVertical: 12;
    alignItems: 'center';
  }
