<%= react_component 'Login', ong: true %>
<!-- alindar esto porfavor -->
<ul>
  <li>No tienes una cuenta? Registra tu Ong <%= link_to "Aquí", ong_sign_up_path %></li>
  <li><%= link_to "Eres un Usuario?", sign_in_path %></li>
</ul>
