<h1>hola</h1>
<li><%= link_to "Sign in", sign_in_path %></li>
<li><%= link_to "Sign in Ong", ong_sign_in_path %></li>
<li><%= link_to "Registrarse", sign_up_path %></li>
<li><%= link_to "Registrarse como Ong", ong_sign_up_path %></li>
