<%= react_component 'BackButton', ong: "/organization" %>
<h1 class="title"> Tus estadisticas: </h1>
<h2 class="secondary-title"> Ultimos cinco subscriptores: </h2>
<ul>
  <% @subs.each do |sub| %>
    <%= react_component 'MinUser', img: sub.ftUsu, name: sub.nombreUsu, surName: sub.apellidoUsu, lvl: sub.exp, key: sub.id %>
  <% end %>
</ul>

<h2 class="secondary-title"> Post con mas enlistados: </h2>
<%= react_component 'MinPost', data: @post %>

<h2 class="secondary-title"> Tus posts activos: </h2>
<%= react_component 'PostList', posts: @disp, owners: false %>
