#stats-post
{
  display: flex;
  align-items: center;
}

#stats
{
  width: 50%;
  border-right: 1px solid grey;
}

#post
{
  width: 50%;
  border-left: 1px solid grey;
}

#ong-avatar
{
   justify-content: start;
   width: 90%;
   margin:auto;
}

#ong-img
{
  margin-right: 1em;
}

#rateForm
{
  width: 100%;
  margin: 0;
}

#rateInput
{
  width: 50%;
  height: 1em;
}

#rateSubmit
{
  width: 40%;
  height: 2.25em;
}

.ong-data
{
  margin-bottom: 3em;
}

.banner
{
  width: 100%;
  height: 10em;
}

.extraData-ong
{
  width: 90%;
  height: 9em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extraData-ong p
{
  margin: 0;
  overflow-wrap: break-word;
}

.eliminar
{
  background-color: #fa483c;
  border: none;
  border-radius: 1em;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  width: 10em;
  height: 2.5em;
}

.subear
{
  background-color: #a333f2;
  border: none;
  border-radius: 1em;
  color: white;
  padding: 0.5em em;
  text-align: center;
  text-decoration: none;
  width: 5em;
  height: 2em;
}

.subear:hover
{
  background-color: white;
  color: rgb(215, 175, 222);
  border: 0.08em solid rgb(215, 175, 222);
}

.msgSub
{
  color: #a333f2;
}
