// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#avatar-usr
{
  margin-top: 1.5em;
}

#data-minUsr
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#expanded
{
  margin:auto auto 2em auto;
  width: 90%;
}

.container
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto;
}

.usrName
{
  color: black;
  font-size: 1.5em;
}

.extraData
{
  color: #997fad;
}

.avatar
{
  width: 5em;
  height: 5em;
  border-radius: 0.5em;
}

.desc
{
  margin-bottom: 0.25em;
  height: 7em;
  border-style: solid;
  border-color: #a412ff;
  border-width: 1px;
  border-radius: 1em;
  overflow-wrap: break-word;
  padding: 1em;
}

.acciones
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-left: 0;
  border-right: 0;
  border-color: grey;
  margin:0;
  padding: 0.5em 0;
}

.acciones a
{
  text-decoration: none;
}

.icon
{
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em;
}
